@font-face {
    font-family: VC-ICON;
    src: url("../fonts/vc-fonts.ttf");
}

@font-face{
    font-family: 'Vazir';
    src: url('../fonts/Vazir-Regular.ttf') format('truetype'),
    url('../fonts/Vazir-Regular.woff') format('woff'),
    url('../fonts/Vazir-Regular.woff2') format('woff2');
}

.vc-icon{
    font-family: VC-ICON !important;
    font-style: unset;
    font-size: 15px;
}

.vc-icon-sm{
    font-size: 15px;
}

.vc-icon-md{
    font-size: 20px !important;
}

.vc-icon-lg{
    font-size: 25px !important;
}

.vc-row{
    background-color: #f1f1f1;
    margin: 10px 0px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

html[dir=rtl] .vc-container,html[dir=rtl] .modal-vc,html[dir=rtl] .btn{
    font-family: 'Vazir' !important;
}


html[dir=ltr] .vc-row .left{
    direction: rtl !important;
}

html[dir=ltr] .vc-row .vc-column-option .left{
    direction: ltr !important;
}

.mce-fullscreen .mce-edit-area{
    width:100% !important;
}

.vc-row-options{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #d3d3d3;
}

.vc-row-options button{
    border: 0px;
    margin: 0px;
    background-color: #d3d3d3;
    opacity: 0.7;
}

.vc-row-options button.btn-template-select{
    position: relative;
    width: 25px;
}
.vc-row-options button.btn-template-select span svg{
    width: 100%;
    height: 100%;
}

.vc-row-options button.btn-template-select span svg polygon{
    fill: #828282 !important;
}

ul.template-selector{
    position: absolute;
    display: flex;
    list-style: none;
    background-color: #f1f1f1;
    top: 0px;
    left: 30px;
    padding: 0px 5px;
    opacity: 0;
    transition: opacity 0.5s;
    box-shadow: 0px 0px 1px 1px darkgrey;
}


.template-selector li{
    padding: 0px 5px;
}

.template-selector li svg{
    width: 15px;
    height: 100%;
}

.template-selector li svg polygon{
    fill: lightgrey;
}

.template-selector li:hover polygon{
    fill: gray;
}

.template-selector li.active svg polygon{
    fill: gray;
}

.vc-row-options button.btn-template-select:hover .template-selector{
    opacity: 1;
}

.vc-row-options button:hover{
    opacity: 1;
    background-color: #d9d9d9;
}

.vc-row-options > .right{
    float: right;
    direction: ltr;
}

.vc-row-options > .left{
    float: left;
}

.vc-row-container{
    align-items: stretch;
    display: flex;
}



.vc-add-row{
    padding: 10px;
    border: 1px dashed;
    text-align: center;
    border-radius: 5px;
}

.vc-add-component{
    position: absolute;
    bottom: 0px;
}

.vc-components{
    display: none;

}

.open-modal{
    height: 100vh;
    overflow-y: hidden;
}

.vc-component-selector{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100000;
    background-color: #00000087;
    text-align: center;
    display: none;
}

.vc-component-selector.open{
    display: block !important;
}

.vc-component-selector .vc-modal{
    display: inline-block;
    background-color: white;
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 5px;

}

.vc-component-selector .vc-modal .vc-modal-body{
    max-height: 60vh;
    overflow-y: scroll;
    min-width: 350px;
}

.vc-component-selector .vc-modal .vc-modal-header{
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.vc-component-selector .vc-modal .vc-modal-header strong{
    font-size: 18px;
    font-weight: bold;
}


.vc-component-selector-list{
    list-style: none;
    padding: 0px;
}

.component-item{
    padding: 15px;
    margin: 10px 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    padding-bottom: 25px;
    cursor: move !important;
}

.component-item[dir=ltr]{
    flex-direction: row-reverse;
}

.component-item.selector-item {
     cursor: pointer !important;
}

.component-item.selector-item .item-actions{
    display: none;
}

.component-item:hover{
    border-color: #838383;
    background-color: #f0f0f0;
}

.component-item:hover .item-actions{
    bottom: 0px;
}

.component-item .item-info{
    width: calc(100% - 50px);
    text-align: right;
}

html[dir=ltr] .component-item .item-info{
    text-align: left;
    padding-left: 10px;
}

.component-item .item-icon{
    width: 50px;
}

.component-item .item-icon svg{
    width: 100%;
    height: 100%;
}

.component-item .item-icon svg path{
    fill: #4da5af;
}

.component-item .item-info span{
    display: block;
    height: 50%;
    padding-top: 5px;
    font-weight: bold;

}

.component-item .item-actions{
    position: absolute;
    bottom: -50px;
    left: 0px;
    background-color: #a0a0a0;
    transition: all 0.5s;
    border-top-right-radius: 5px;
}

html[dir=ltr] .component-item .item-actions{
    left: auto;
    right: 0px;
    border-radius: 0px;
    border-top-left-radius: 5px;
    direction: rtl;
}

.component-item .item-actions .btn-action{
    padding: 2px 5px;
    margin: 0px;
    color: white !important;
    border: 0px;
    background-color: transparent;
}

.component-item .item-actions .btn-action.btn-delete{
    color: white;
    background-color: transparent;
}

.component-item .item-actions .btn-action.btn-delete:hover{
    color: #080808 !important;
    background-color: lightgray;
    border-radius: 0;
}

.component-item .item-actions .btn-action.btn-edit{
    color: white;
    background-color: transparent;
}

.component-item .item-actions .btn-action:hover{
    color: #080808 !important;
    background-color: lightgray;
    border-radius: 0;
}

.vc-column{
    display: inline-block;
    padding: 0px 5px;
    text-align: center;
    margin-top: 30px;
}

.vc-column-border{
    border: 1px dashed;
    border-radius: 5px;
    position: relative;
    height: 100%;
    padding-top: 25px;
}

.vc-column-container{
    min-height: 70px;
    height: 100%;
}

.vc-column-option{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    border-bottom: 1px solid lightgray;

}

.vc-column-option > .right{
    float: right;
}

.vc-column-option > .left{
    float: left;
    direction: ltr;
}

.vc-column-option button {
    border: 1px;
    margin: 0px;
    background-color: #f1f1f1;
    opacity: 0.7;
}

.vc-column-option button:hover{
    opacity: 1;
    background-color: #d9d9d9;
}

.column-empty-message{
    display: block;
    /*padding-top: 25px;*/
    color: lightgray;
    margin: auto;
}
/* vc modal*/

.modal-vc{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    text-align: center;
    display: none;
    align-items: center;

}


.modal-vc.open{
    display: flex;
}

.modal-dialog-vc{
    background-color: white;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5px;

}

.modal-header-vc{
    border-bottom: 1px solid lightgray;
    padding: 20px;
}

.modal-body-vc{
    padding: 20px 30px;
    max-height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: right;
    min-width: 500px;
}


html[dir=ltr] .modal-body-vc{
    text-align: left;
}

.modal-footer-vc{
    border-top: 1px solid lightgray;
    padding: 20px;
    text-align: right;
}

.vc-btn{
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
}

.vc-btn-close:hover{
    background-color: #cbcbcb;
}

.vc-btn-submit{
    background-color: #5ac5c5;
    color: white;
}

.vc-btn-submit:hover{
    background-color: #308585;
}

.vc-input{
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    padding: 5px 10px;
    text-align: center;
}

.vc-form-group{
    margin: 10px 0px;
}

.vc-dropzone .dropzone{
    border-radius: 5px;
    background-color: #f0efef;
    border: 0px;
    max-width: 500px;
}

.dropzone .dz-preview .dz-image img{
    width: 100%;
}

.vc-dropzone .dropzone .dz-preview.dz-image-preview{
    border-radius: 20px;
}

.btn-template-select li svg{
    width: 15px;
    height: 100%;
}

.jscolor-picker-wrap{
    z-index: 500000 !important;
}

input[name=row-direction]{
    display: none;
}

input[name=row-direction] + label > svg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

input[name=row-direction] + label > svg path{
    fill: lightgrey;
}

input[name=row-direction]:checked + label > svg path{
    fill: #5ac5c5;
}

textarea[class=text-box]{
    width:100%;
    display: block;
    resize: vertical;
}

input[class=slider-image]{
    width:100%;
}
.modal-vc-text .modal-dialog-vc .modal-body-vc{
   height:calc(90vh - 150px);
   width:85vw;
}

.modal-dialog-vc .modal-body-vc{
    height:300px;
}
div[id = mceu_32] {
    position: inherit !important;
}

.tox-tinymce-aux{
    z-index: 10000 !important;
}
